.container-wrapper {
	height:80%;
	margin:auto;
	margin-top:80px;
	margin-bottom:300px;
}

.home-image {
   display: block;
   width : 100% !important;
   height: auto  !important;
}

.table {
	overflow: auto;
}

.table th {
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-size: large;
}

.table td {
	text-align: center;
    font-family: "Times New Roman", Times, serif;  
	font-size: large;
}